<p id="notice"><%= notice %></p>

<p>
  <strong>Reasons:</strong>
  <%= @auto_publishing.reasons %>
</p>

<%= link_to 'Edit', edit_auto_publishing_path(@auto_publishing) %> |
<%= link_to 'Back', auto_publishings_path %>
